.title-bar {
    margin: 16px;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

.title-bar .title {
    font-size: 32px;
    -unity-text-align: middle-center;
}

.title-bar .subtitle {
    font-size: 24px;
    -unity-text-align: middle-center;
}

.body-bar {
    margin: 16px;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
}

.body-bar .body-line {
    display: flex;
    flex-direction: row;
}

.body-bar .body-line button {
    flex-grow: 1;
}